@import "../../App";

.Item {
  position: relative;
  width: 100%;
  height: 150px;
  display: flex;
  background: $var2;
  padding: 0 0 0 20px;

  &:after {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    width: 7px;
    height: 150px;
  }

  &[data-status="1"]:after {
    background: $var3;
  }

  &[data-status="2"]:after {
    background: $var4;
  }

  &[data-status="3"]:after {
    background: $var5;
  }

  &[data-status="4"]:after {
    background: $var3;
  }

  &[data-status="5"]:after {
    background: $var6;
  }

  + .Item {
    margin-top: 15px;
  }

  .Checkbox {
    position: relative;
    margin-left: 41px;
    padding-top: 33px;
    width: 126px;
    min-width: 126px;

    input {
      visibility: hidden;
      display: none;
    }

    label {
      span {
        font-family: 'gilroy',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: $var7;
        cursor: pointer;
      }

      &:before {
        display: inline-block;
        position: absolute;
        content: '';
        top: 30px;
        left: -41px;
        width: 19px;
        height: 19px;
        border: 1px solid $var7;
        box-sizing: border-box;
        user-select: none;
        cursor: pointer;
      }
    }

    input:checked + label {
      span {
        user-select: none;
      }

      &:before {
        user-select: none;
        cursor: pointer;
      }

      &:after {
        position: absolute;
        content: '';
        top: 36px;
        left: -36px;
        width: 13px;
        height: 11px;
        background: url('../../assets/arr.svg') no-repeat;
        user-select: none;
        cursor: pointer;
      }
    }
  }

  .Site {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 33px;
    width: 202px;
    min-width: 202px;

    a {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      text-decoration: none;
      line-height: 19px;
      color: $var5;
    }
  }

  .Text {
    padding-top: 27px;
    max-width: 776px;
    padding-right: 5%;
    width: 100%;

    a {
      display: inline-block;
      margin-top: 20px;
      width: auto;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: $var5;
      border-top: 1px solid $var8;
      padding-top: 3px;

      svg {
        margin-right: 8px;
        position: relative;
        top: 4px;
      }
    }

    p {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      color: $var9;
    }
  }

  .Status {
    display: flex;
    align-items: center;
    padding-left: 5px;

    p {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      margin-left: 28px;
      max-width: 150px;
    }
  }

  &[data-status="1"] .Status p {
    color: $var3;
  }

  &[data-status="2"] .Status p {
    color: $var4;
  }

  &[data-status="3"] .Status p {
    color: $var5;
  }

  &[data-status="4"] .Status p {
    color: $var3;
  }

  &[data-status="5"] .Status p {
    color: $var6;
  }
}