$var1: #F2F5F9;
$var2: #FFFFFF;
$var3: #E9EFF5;
$var4: #505D6F;
$var5: #F7F9FE;
$var6: #94A2B6;
$var7: #2E2382;
$var8: #ffffff;
$var9: #E0DCFF;
$var10: #F2F0FF;
$var11: #110C32;
$var12: #119E00;
$var13: #ffffff;
$var14: #E00C3C;

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  font-family: 'Montserrat',sans-serif;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, dfn, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: 100% inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
  &:before, &:after {
    content: '';
    content: none;
  }
}
button {
  background: transparent;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
p {
  font: 16px 'gilroy',sans-serif;
}
p, a, span.div, li {
  font-family: 'gilroy',sans-serif;
}
body {
  background: $var1;
  overflow-x: hidden;
}
.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 20px;
}