$var1: #F2F5F9;
$var2: #ffffff;
$var3: #E00C3C;
$var4: #FF7400;
$var5: #2E2382;
$var6: #119E00;
$var7: #94A2B6;
$var8: #D0DDEF;
$var9: #505D6F;

// @font-face{font-family: 'gilroy';src: url('./../../fonts/gilroy-medium.eot');src: local('../fonts/gilroy-medium'),local('../fonts/gilroy-medium'),url('../fonts/gilroy-medium.eot?#iefix') format("embedded-opentype"),url('../fonts/gilroy-medium.woff2') format("woff2"),url('../fonts/gilroy-medium.woff') format("woff"),url('../fonts/gilroy-medium.ttf') format("truetype"),url('../fonts/gilroy-medium.svg#gilroy-medium') format("svg");font-weight: 500;font-style: normal;font-display: swap}
// @font-face{font-family: 'gilroy';src: url('./../../fonts/gilroy-semibold.eot');src: local('../fonts/gilroy-semibold'),local('../fonts/gilroy-semibold'),url('../fonts/gilroy-semibold.eot?#iefix') format("embedded-opentype"),url('../fonts/gilroy-semibold.woff2') format("woff2"),url('../fonts/gilroy-semibold.woff') format("woff"),url('../fonts/gilroy-semibold.ttf') format("truetype"),url('../fonts/gilroy-semibold.svg#gilroy-semibold') format("svg");font-weight: 600;font-style: normal;font-display: swap}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  font-family: 'gilroy',sans-serif;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, dfn, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: 100% inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
  &:before, &:after {
    content: '';
    content: none;
  }
}
button {
  background: transparent;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
p {
  font: 16px 'gilroy',sans-serif;
}
p, a, span.div, li {
  font-family: 'gilroy',sans-serif;
}
body {
  background: $var1;
  overflow-x: hidden;
}
.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 20px;
}
.wrap-input-item {
  position: relative;
  width: 100%;
  height: 150px;
  display: flex;
  background: $var2;
  padding: 0px 0px 0px 20px;
  &:after {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    width: 7px;
    height: 150px;
  }
  &.item_1:after {
    background: $var3;
  }
  &.item_1 .wrap-status-block p {
    color: $var3;
  }
  &.item_2:after {
    background: $var4;
  }
  &.item_2 .wrap-status-block p {
    color: $var4;
  }
  &.item_3:after {
    background: $var5;
  }
  &.item_3 .wrap-status-block p {
    color: $var5;
  }
  &.item_4:after {
    background: $var3;
  }
  &.item_4 .wrap-status-block p {
    color: $var3;
  }
  &.item_5:after {
    background: $var6;
  }
  &.item_5 .wrap-status-block p {
    color: $var6;
  }
  + .wrap-input-item {
    margin-top: 15px;
  }
}
.wrap-input-check-wrap {
  position: relative;
  margin-left: 41px;
  padding-top: 33px;
  width: 126px;
  min-width: 126px;
  input {
    visibility: hidden;
    display: none;
  }
}
.wrap-input + .wrap-input-check-wrap {
  margin-top: 14px;
}
.form-check_input:checked + .form-check:before {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.form-check:before {
  display: inline-block;
  position: absolute;
  content: '';
  top: 30px;
  left: -41px;
  width: 19px;
  height: 19px;
  border: 1px solid $var7;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.form-check_input:checked + label:after {
  position: absolute;
  content: '';
  top: 36px;
  left: -36px;
  width: 13px;
  height: 11px;
  background: url('./assets/arr.svg') no-repeat;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.form-check span {
  font-family: 'gilroy',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: $var7;
  cursor: pointer;
}
.form-check_input:checked + label > span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.wrap-email-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 33px;
  width: 202px;
  min-width: 202px;
  a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    line-height: 19px;
    color: $var5;
  }
}
.wrap-text-block {
  padding-top: 27px;
  max-width: 776px;
  padding-right: 5%;
  width: 100%;
  a {
    display: inline-block;
    margin-top: 20px;
    width: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $var5;
    border-top: 1px solid $var8;
    padding-top: 3px;
    svg {
      margin-right: 8px;
      position: relative;
      top: 4px;
    }
  }
  p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: $var9;
  }
}
.wrap-status-block {
  display: flex;
  align-items: center;
  padding-left: 5px;
  p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-left: 28px;
    max-width: 150px;
  }
}
