@import "../../css/global";

.ItemList {
	background: $var2;
	padding-left: 34px;

	.NameBlock {
		width: 100%;
		height: 60px;
		display: flex;
		align-items: center;
		cursor: pointer;
		justify-content: space-between;

		&[data-active="Y"] p {
			color: $var4;
		}

		span {
			display: flex;
			width: 60px;
			height: 60px;
			align-items: center;
			justify-content: center;
		}
		p {
			font-style: normal;
			font-weight: 500;
			font-size: 24px;
			line-height: 20px;
			color: $var3;
		}
	}

	& + .ItemList {
		margin-top: 4px;
	}
}